@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
:root {
  --Primary_grayish_blue: hsl(237, 18%, 59%);
  --Primary_soft_red: hsl(345, 95%, 68%);

  --White: hsl(0, 0%, 100%);
  --primary-font: "Red Hat Text", sans-serif;
  --Dark_desaturated_blue: hsl(236, 21%, 23%);
  --Very_dark_blue: hsl(235, 16%, 14%);
  --Very_very_dark_blue: hsl(234, 17%, 12%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: 25px;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/images/bg-stars.svg"),
    url("images/pattern-hills.svg") no-repeat bottom;
  background-size: contain;
  background-color: var(--Very_very_dark_blue);
  vertical-align: text-top;
}
.title {
  color: var(--White);
  font-size: 0.7em;
  letter-spacing: 5px;
  position: fixed;
  top: 5em;
  text-transform: uppercase;
}
.icons {
  position: fixed;
  bottom: 0;
  padding: 2em;
}
img {
  margin: 1em;
}
.clock {
  display: flex;
  text-align: center;
  gap: 1em;
  height: 40vh;
  width: 100%;
  justify-content: center;
}
.number {
  color: var(--Primary_soft_red);
  font-size: 2.5em;
}
.attribution,
a {
  color: var(--Primary_soft_red);
  font-size: 15px;
  text-align: left;
}
p {
  color: var(--Primary_grayish_blue);
  text-transform: uppercase;
  font-size: 0.5em;
  letter-spacing: 5px;
}
.top {
  border-radius: 0.2em 0.2em 0.6em 0.6em;
  background-color: hsl(236, 21%, 19%);
  padding: 0.8em 0.8em;
  width: 5em;
  height: 2.5em;
  margin-bottom: 0;
}
.bottom {
  height: 2.5em;
  margin-top: 1px;
  border-radius: 0.6em 0.6em 0.2em 0.2em;
  background-color: hsl(236, 21%, 23%);
  padding: 1em 2em;
  width: 5em;
  box-shadow: 0 10px hsl(234, 17%, 8%);
  margin-bottom: 1em;
}
